<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale = 1, width=device-width">
        <script src="{{ url_for('sendfile', path='index.js') }}"></script>
        <link href="{{ url_for('sendfile', path='index.css') }}">
        <title>Chat!</title>
    </head>
    <body>
        <div>
            <button>Create room</button>
            <br>
            To join room:
                <input autocapitalize="off" autofocus autocomplete="off" type="text" placeholder="Room id">
                <button>Join</button>
        </div>
    </body>
</html>