{% extends "layout.html" %}
{% block body %}
    <script src="{{ url_for('sendfile', path='room/room.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('sendfile', path='create/create.css') }}">

    <div>
        <button class="leave" id="leave" disabled>Leave</button>
    </div><br><br>

    <div>
        <input autocapitalize="off" autofocus autocomplete="off" type="text" placeholder="Message">
        <button id="send" disabled>Send</button>
    </div><br><br>
    <div class="iddiv">
        <ul>

        </ul>
    </div>
{% endblock %}