div {
    background-color: grey;
    text-align: center;
    padding: 1%; 
    color: white;
}

button {
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 8px 0;
    background-color: gold;
    color: black;
}

input {
    width: 50%;
    text-align: center;
    background-color: darkgray;
    padding: 1%;
    color: black;
}

button:hover {
    background-color: yellow;
}

button:disabled {
    background-color: silver;
}

body {
    background-color: aqua;
    text-align: center;
    padding: 1%; 
    font-family: 'Courier New', Courier, monospace;
}